*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
  font-family: "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #F5F5F7;
}

.top{
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
}

.nav-bar{
    height: 50%;
    width: 100%;
     display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px; 
  margin: 0 auto;
  margin-top: 10px;
  padding: 0 20px;
}

.nav-bar a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 18px;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    margin-top: 40px;
}

h3{
    font-size: 24px;
    font-weight: 500;
    color: #1D1D1F;
    margin-top: 10px;
}

button{
    height: 40px;
    width: 30%;
    border-radius: 20px;
    background-color: #0076DF;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 90px;
}